# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3


media/
university/university/.env
.venv/
venv/
env/
env.bak/
venv.bak/


.idea/


*.coverage
*.egg-info/
dist/
build/
