{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'main_styles.css' %}" type="text/css">
</head>
<body>
<h1>Добро пожаловать</h1>
<div class="button-container">
    <a href="{% url 'flights' %}" class="button">Расписание рейсов</a>
    <a href="{% url 'search' %}" class="button">Поиск рейсов</a>
    <a href="{% url 'aircraft' %}" class="button">О самолётах</a>
    <a href="{% url 'booking' %}" class="button">Бронирование билетов</a>
    <a href="{% url 'admin:index' %}" class="button">Администрирование</a>
</div>
<p style="font-size: 20px;">Перевозки пассажиров с помощью авиации – это способ перемещения людей из одного города, страны или континента в
    другой. Это особенно удобно для дальних поездок, когда другие виды транспорта могут быть неэффективными или
    затратными.</p>
<h2>Отзывы</h2>
<div class="reviews-container">
    <div class="review">
        <p>"Отличный сервис! Рейс прошел без задержек, и персонал был очень вежливым."</p>
        <p>- Анна П.</p>
    </div>
    <div class="review">
        <p>"Мне очень понравилось! Комфортные кресла и вкусная еда на борту."</p>
        <p>- Сергей К.</p>
    </div>
    <div class="review">
        <p>"Летала несколько раз, всегда все было на высшем уровне. Рекомендую!"</p>
        <p>- Ирина Л.</p>
    </div>
</div>
<div class="reviews-container">
    <div class="review">
        <p>"Я летал с этой авиакомпанией несколько раз, и каждый раз был приятно удивлён высоким уровнем сервиса.
        Рейс прошел без задержек, а персонал был очень вежливым и отзывчивым. Особенно запомнился момент, когда
        стюардесса предложила мне дополнительный напиток, даже когда я не просил. Это мелочь, но она делает
        путешествие намного приятнее. Обязательно буду летать с вами снова!"</p>
        <p>- Пётр П.</p>
    </div>
    <div class="review">
        <p>"Мой последний рейс был просто замечательным! Комфортные кресла, достаточно места для ног и вкусная еда на борту
        сделали поездку очень приятной. Я был приятно удивлён выбором блюд, и все они были очень вкусными.
        Также хочу отметить, что бортпроводники были очень дружелюбными и готовыми помочь. Я настоятельно рекомендую
        эту авиакомпанию всем своим друзьям!"</p>
        <p>- Георгий К.</p>
    </div>
    <div class="review">
        <p>"Летал с этой авиакомпанией несколько раз, и всегда все было на высшем уровне. Никаких задержек,
        профессиональный и дружелюбный персонал, а также отличная развлекательная программа на борту.
        Я чувствовал себя в безопасности и комфорте на протяжении всего полета. Рекомендую всем, кто ищет
        надежного перевозчика для своих путешествий!"</p>
        <p>- Евлампий Л.</p>
    </div>
</div>
</body>
</html>
